{% extends 'base.html.twig' %}

{% block body %}
	<section class="row row-login">
		<div class="cont">
			<h1 class="title">Login</h1>
			{% if error %}
				<div class="login-error">{{ error.messageKey|trans(error.messageData, "security") }}</div>
			{% endif %}

			<form action="{{ path("login") }}" method="POST">
				<label for="username">Email:</label>
				<input type="text" id="username" name="_username" value="{{ last_username }}" />

				<label for="password">Password:</label>
				<input type="password" name="_password" id="password" />

				<button type="submit">Login</button>
			</form>
		</div>
	</section>
{% endblock %}