{% extends 'base.html.twig' %}

{% block body %}
	<section class="row row-post">
		<div class="cont">
			<div class="post-successfully-published">
				<h1>Success! Your post was published.</h1>
			</div>
		</div>
	</section>
{% endblock %}