<header class="row row-header">
	<div class="cont">
		<div class="site-branding">
			<a href="#" class="blog-link">My Blog</a>
		</div>
		<nav class="main-navigation">
			{% set links = [ 
			{ "name": "Homepage", "route": false},
			{"name": "Login", "route": "register"},
			{"name": "Archive", "route": false}
			] %}

			{% for link in links %}
				{% if link.route %}
					<a href="{{ path(link.route) }}" class="main-navigation-link">{{ link.name }}</a>
				{% else %}
					<span>{{ link.name }}</span>
				{% endif %}
			{% endfor %}
		</nav>
	</div>
</header>