<header class="row row-header">
	<div class="cont">
		<div class="site-branding">
			<a href="{{ path("home") }}" class="blog-link">My Blog</a>
		</div>
		<nav class="main-navigation">
			{% set links = [ 
			{"name": "Login", "route": "login"},
			{"name": "Register", "route": "register"},
			{"name": "Archive", "route": false}
			] %}

			{% for link in links %}
				{% if link.route %}
					<a href="{{ path(link.route) }}" class="main-navigation-link">{{ link.name }}</a>
				{% else %}
					<span>{{ link.name }}</span>
				{% endif %}
			{% endfor %}
			{% if user is defined and user %}
				<a href="/logout" class="main-navigation-link">Logout</a>
			{% endif %}
		</nav>
	</div>
</header>